.select-or-create-recording {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  button {
    margin-right: 2rem;
  }
}

.choose-recording {
  width: 220px;
}

mat-card-header {
  justify-content: flex-start;
}

.flex-top-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.recorder-controller {
  height: 20rem;
}

.recorder mat-button-toggle.btnRecord.mat-button-toggle-checked mat-icon {
  color: red;
}

.recorder-header-image {
  background-image: url("../../../assets/img/microphone.jpg");
  background-size: cover;
}

.recordingInfo {
  margin-bottom: 3rem;
}
