.select-or-create-recording {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  button {
    margin-right: 2rem;
  }
}

.choose-recording {
  width: 220px;
}

mat-card-header {
  justify-content: flex-start;
}

.recorder-header-image {
  background-image: url("../../../assets/img/microphone.jpg");
  background-size: cover;
}

.recorder-controller {
  min-height: 300px;
}

.recording-ready, .recording, .recorder-controller {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.recorder mat-button-toggle.btnRecord.mat-button-toggle-checked mat-icon {
  color: red;
}
