<mat-card class="recorder">
  <mat-card-header>
    <div mat-card-avatar class="recorder-header-image"></div>
    <mat-card-title>Recorder</mat-card-title>
    <mat-card-subtitle>Session aufnehmen</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="select-or-create-recording">
      <button mat-mini-fab class="fab"
              (click)="openCreateRecordingDialog()"
              [disabled]="isRecording"
      >
        <mat-icon>add</mat-icon>
      </button>

      <form [formGroup]="currentRecordingForm">
        <mat-form-field class="choose-recording">
          <mat-select
            [formControl]="currentRecordingForm.get('selectRecording')"
            placeholder="Aufnahme weitermachen ..."
            (selectionChange)="onSelectRecording($event)"
          >
            <mat-option *ngFor="let recording of todaysSessions | async" [value]="recording">
              {{recording.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="recorder-controller" *ngIf="isRecordingSelected">

      <div *ngIf="!isRecording" class="recording-ready">
        <button mat-fab
                color="primary"
                (click)="onClickStartRecording()"
        >
          <mat-icon>mic</mat-icon>
        </button>
      </div>

      <div *ngIf="isRecording" class="recording">
        <form [formGroup]="trackRecordingForm">
          <mat-form-field>
            <input matInput
                   placeholder="Songtitel"
                   formControlName="name"
                   [errorStateMatcher]="nameErrorStateMatcher"
            >
            <mat-error *ngIf="trackRecordingForm.get('name').hasError('required')">Es muss ein Name vergeben werden</mat-error>
          </mat-form-field>
        </form>

        <button mat-fab
                color="warn"
                (click)="onClickStopRecording()"
                class="pulse"
        >
          <mat-icon>stop</mat-icon>
        </button>

        <recording-timer></recording-timer>

        <button mat-fab
                color="primary"
                (click)="onClickRecordNextTrack()"
        >
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>

    </div>
  </mat-card-content>

  <mat-card-footer>
  </mat-card-footer>
</mat-card>
