<mat-card class="recorder">
  <mat-card-header>
    <div mat-card-avatar class="recorder-header-image"></div>
    <mat-card-title>Recorder</mat-card-title>
    <mat-card-subtitle>Session aufnehmen</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="select-or-create-recording">
      <button mat-mini-fab class="fab"
              (click)="openCreateRecordingDialog()"
              aria-label="Neue Aufnahme erstellen"
              [disabled]="isRecording"
      >
        <mat-icon>add</mat-icon>
      </button>

      <form [formGroup]="currentRecordingForm">
        <mat-form-field class="choose-recording">
          <mat-select
            aria-label="Bestehende Aufnahme fortsetzen"
            [formControl]="currentRecordingForm.get('selectRecording')"
            placeholder="Aufnahme weitermachen ..."
            (selectionChange)="onSelectRecording($event)"
          >
            <mat-option *ngFor="let recording of todaysSessions | async" [value]="recording">
              {{recording.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="recorder-controller flex-top-center" *ngIf="isRecordingSelected">
      <div *ngIf="!isRecording" class="recordingReady">
        <button mat-fab
                color="primary"
                aria-label="Aufnahme starten"
                (click)="onClickStartRecording()"
        >
          <mat-icon>mic</mat-icon>
        </button>
      </div>
      <div *ngIf="isRecording" class="recording flex-top-center">

        <form [formGroup]="trackRecordingForm" class="example-form">
          <button (click)="toggleEditMode()" mat-icon-button>
            <mat-icon *ngIf="trackRecordingForm.get('name').disabled"
                      color="accent"
                      aria-label="Bearbeite Songtitel"
            >edit</mat-icon>
            <mat-icon *ngIf="trackRecordingForm.get('name').enabled"
                      color="accent"
                      aria-label="Speichere &Auml;nderung"
            >save</mat-icon>
          </button>

          <mat-form-field>
            <input matInput
                   placeholder="Songtitel"
                   formControlName="name"
                   [errorStateMatcher]="nameErrorStateMatcher"
            >
            <mat-error *ngIf="trackRecordingForm.get('name').hasError('required')">Es muss ein Name vergeben werden</mat-error>
          </mat-form-field>
        </form>

        <div>
          <button mat-fab
                  color="warn"
                  aria-label="Aufnahme stoppen"
                  (click)="onClickStopRecording()"
                  class="pulse"
          >
            <mat-icon>stop</mat-icon>
          </button>
        </div>
        <app-recording-timer></app-recording-timer>
        <div>
          <button mat-fab
                  color="primary"
                  aria-label="N&aumlchste Aufnahme starten"
                  (click)="onClickRecordNextTrack()"
          >
            <mat-icon>skip_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer>
  </mat-card-footer>
</mat-card>
