# IntelliJ
/out/
/classes/
/.idea
*.iml

# gradle
.gradle

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# compiled output
/dist
/tmp
/build/

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
connect.lock
/coverage/*
libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
/.DS_Store
Thumbs.db

/server/build/

### STS ###
/server/.apt_generated
/server/.classpath
/server/.factorypath
/server/.project
/server/.settings
/server/.springBeans

# Ignores compiled TypeScript files
/src/app/**/*.map
/src/app/**/*.js
/src/environments/**/*.map
/src/environments/**/*.js
/src/test.map
/src/test.js
/src/test.js.map
/src/polyfills.map
/src/polyfills.js
/src/polyfills.js.map
/src/main.map
/src/main.js
/src/main.js.map

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
yarn-error.log
yarn.lock
