# IntelliJ
/out/
/classes/
/.idea
/rest/.idea
*.iml

# gradle
.gradle

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# compiled output
/ui/dist
/ui/tmp
/build/

# dependencies
/ui/node_modules
/ui/bower_components

# misc
/ui/.sass-cache
/ui/connect.lock
/ui/coverage/*
/ui/libpeerconnection.log
/ui/npm-debug.log
/ui/testem.log
/ui/typings

# e2e
/ui/e2e/*.js
/ui/e2e/*.map

#System Files
/ui/.DS_Store
/ui/Thumbs.db

/server/build/

### STS ###
/server/.apt_generated
/server/.classpath
/server/.factorypath
/server/.project
/server/.settings
/server/.springBeans

# Ignores compiled TypeScript files
/ui/src/app/**/*.map
/ui/src/app/**/*.js
/ui/src/environments/**/*.map
/ui/src/environments/**/*.js
/ui/src/test.map
/ui/src/test.js
/ui/src/test.js.map
/ui/src/polyfills.map
/ui/src/polyfills.js
/ui/src/polyfills.js.map
/ui/src/main.map
/ui/src/main.js
/ui/src/main.js.map

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/ui/coverage
/ui/yarn-error.log
/ui/yarn.lock
