<h2 mat-dialog-title>Aufnahme erstellen</h2>

<mat-dialog-content>
  <form [formGroup]="createRecordingForm" class="example-form">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Datum ausw&auml;hlen" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Aufname Bezeichnung"
             formControlName="name"
             [errorStateMatcher]="nameErrorStateMatcher"
      >
      <mat-error *ngIf="createRecordingForm.get('name').hasError('notUnique')">Name muss eindeutig sein</mat-error>
      <mat-error *ngIf="createRecordingForm.get('name').hasError('required')">Es muss ein Name vergeben werden</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen<mat-icon>cancel</mat-icon></button>
  <button mat-button
          [mat-dialog-close]="createRecordingForm.valid ? createRecordingForm.value : null"
          [disabled]="createRecordingForm.invalid !== true">OK<mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>
