<h2 mat-dialog-title>Kanal Eintrag erstellen</h2>

<mat-dialog-content>
  <form [formGroup]="createChannelForm" class="example-form">
    <mat-form-field>
      <mat-select placeholder="Kanal Nummer" formControlName="selectedChannel">
        <mat-option *ngFor="let nr of availableChannels" [value]="nr">
          {{ nr }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Kanal Name" formControlName="name">
    </mat-form-field>

    <section>
      <mat-slide-toggle formControlName="active">Aktiv </mat-slide-toggle>
    </section>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen<mat-icon>cancel</mat-icon></button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="createChannelForm.value">Speichern<mat-icon>save</mat-icon></button>
</mat-dialog-actions>
