<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Multitrack Recorder</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-accordion class="plain-expansion-panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon> Einstellungen
          </mat-panel-title>
         </mat-expansion-panel-header>

        <p>TBD</p>

      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>help</mat-icon> Hilfe
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>TBD</p>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-tab-group>
    <mat-tab label="Recorder">
      <app-recorder></app-recorder>
    </mat-tab>
    <mat-tab label="Kan&auml;le">
      <mat-card class="channels">
        <mat-card-header>
          <div mat-card-avatar class="channels-header-image"></div>
          <mat-card-title>Kan&auml;le</mat-card-title>
          <mat-card-subtitle>Kan&auml;le festlegen</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-channels-table></app-channels-table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Aufnahmen">
      <app-recordings-list></app-recordings-list>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
