<mat-card class="recorder">
  <mat-card-header>
    <div mat-card-avatar class="recorder-header-image"></div>
    <mat-card-title>Recorder</mat-card-title>
    <mat-card-subtitle>Control Recording</mat-card-subtitle>

    <div class="addNewRecording">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="recordingDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-mini-fab class="fab" (click)="picker.open()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>

  </mat-card-content>

  <mat-card-footer>
  </mat-card-footer>
</mat-card>
