.addNewRecording {
  margin-left: auto;
}

mat-card-header {
  justify-content: flex-start;
}

mat-card-content {
  height: 10rem;
}

.recorderController {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.recorderController.recordingReady {
  flex-flow: row nowrap;
}

.recorderController.recording {
  width: 100%;
  flex-flow: column wrap;
}

.recorder mat-button-toggle.btnRecord.mat-button-toggle-checked mat-icon {
  color: red;
}

.recorder-header-image {
  background-image: url("../../assets/img/microphone.jpg");
  background-size: cover;
}
