<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon> </button>
  <span>Behringer Multitrack Recorder</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-list class="sideNavMenu">
      <mat-list-item>
        <button (click)="menuItemClicked($event.target)" mat-button><mat-icon>settings</mat-icon> Settings </button>
      </mat-list-item>
      <mat-list-item>
        <button (click)="menuItemClicked($event.target)" mat-button><mat-icon>help</mat-icon> Help </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-tab-group>
    <mat-tab label="Recorder">

      <mat-card class="recorder">
        <mat-card-header>
          <div mat-card-avatar class="recorder-header-image"></div>
          <mat-card-title>Recorder</mat-card-title>
          <mat-card-subtitle>Control Recording</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form>
            <mat-select placeholder="Choose a Channel Profile" [(ngModel)]="selectedProfile" name="channelProfile">
              <mat-option *ngFor="let channelProfile of channelProfiles" [value]="channelProfile.value">{{ channelProfile.name }}</mat-option>
            </mat-select>
            <mat-input-container>
              <input mdInput placeholder="Name of the Recording">
              <mat-error>Uuups!</mat-error>
            </mat-input-container>
            <mat-input-container>
              <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </mat-input-container>
            <mat-datepicker #picker></mat-datepicker>
          </form>

          <mat-button-toggle-group>
            <mat-button-toggle class="btnRecord" value="left" checked="false">
              <mat-icon>fiber_manual_record</mat-icon> Record
            </mat-button-toggle>
            <mat-button-toggle class="btnStop" value="right" checked="true">
              <mat-icon>stop</mat-icon> Stop
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-content>

        <mat-card-footer>
          <button mat-mini-fab class="fab" (click)="alert('Hello World')">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>

    </mat-tab>
    <mat-tab label="Channels">
      <mat-card class="channels">
        <mat-card-header>
          <div mat-card-avatar class="channels-header-image"></div>
          <mat-card-title>Channels</mat-card-title>
          <mat-card-subtitle>Define Channels</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <button mat-mini-fab class="fab" (click)="alert('Hello World')">
            <mat-icon>add</mat-icon>
          </button>


        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Recordings"></mat-tab>
  </mat-tab-group>

</mat-sidenav-container>
