/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-amber, 500);
$accent:  mat-palette($mat-amber, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-weight: normal;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

mat-toolbar, mat-sidenav-container {
  min-width: 22rem;
}

mat-sidenav-container {
  min-height: 30rem;
}

mat-sidenav {
  width: 17rem;

  .mat-accordion.plain-expansion-panel mat-expansion-panel.mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }
}

.mat-expansion-panel-header-title {
  align-items: center;

  mat-icon {
    margin-right: 1rem;
  }
}

.channels-header-image {
  background-image: url("assets/img/channels.jpg");
  background-size: cover;
}

.pulse {
  animation: pulse 1s infinite;
}
.pulse:hover {
  animation: none;
}

$pulse_step1: 0 0 0 0 mat-color($warn, 0.7);
$pulse_step2: 0 0 0 10px mat-color($warn, 0.1);
$pulse_step3: 0 0 0 0 mat-color($warn, 0.7);

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: $pulse_step1;
  }
  50% {
    -webkit-box-shadow: $pulse_step2;
  }
  100% {
    -webkit-box-shadow: $pulse_step3;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: $pulse_step1;
    box-shadow: $pulse_step1;
  }
  50% {
    -moz-box-shadow: $pulse_step2;
    box-shadow: $pulse_step2;
  }
  100% {
    -moz-box-shadow: $pulse_step3;
    box-shadow: $pulse_step3;
  }
}
