/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

body {
  padding: 2rem 2rem;
  background:lightgray;
}

mat-toolbar, mat-sidenav-container {
  min-width: 38rem;
}

mat-sidenav-container {
  min-height: 30rem;
}

.sideNavMenu {
  display: block;
}

.recorder .fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.recorder mat-button-toggle.btnRecord.mat-button-toggle-checked mat-icon {
  color: red;
}

.recorder-header-image {
  background-image: url("assets/img/microphone.jpg");
  background-size: cover;
}

.channels-header-image {
  background-image: url("assets/img/channels.jpg");
  background-size: cover;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
